<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <div>
        <a class="nav-link d-inline" routerLink="/">Home</a>
        <a class="nav-link d-inline" routerLink="second">Second</a>
        <a
          class="nav-link d-inline"
          href="#"
          (click)="$event.preventDefault(); gotoContact()"
        >Contact</a>
        <a
          class="nav-link d-inline"
          href="#"
          (click)="$event.preventDefault(); gotoProducts()"
        >Products</a>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
