<div class="form-check d-flex align-items-center justify-content-between">
    <div>
        <input
            class="form-check-input me-2"
            type="checkbox"
            [checked]="wish.isComplete"
            (click)="toggleFullFilled()"
        >
        <label
            class="form-check-label"
            [ngClass]="cssClasses"
            for="flexCheckDefault">
            {{wish.wishText}}
        </label>
    </div>
    
    <!-- Delete Button -->
    <button
        class="btn btn-sm btn-danger ms-2"
        (click)="removeWish()">
        Delete
    </button>
</div>
